@mixin button ($color: $base-color) {
  height: 24px;
  min-width: 24px;
  text-align: center;
  padding: 3px;
  position: relative;
  display: inline-block;
  color: transparentize($base-color, 0.5);
  border: 0;
  outline: transparent;
  & i {
    font-size: 18px;
  }
  &:active, &.active {
    color: $addition-color;
  }
  &:hover {
    color: $base-color;
    background-color: $addition-color;
    cursor: pointer;
  }
}