@mixin button ($color: $base-color) {
  position: relative;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 3px;
  color: transparentize($base-color, .5);
  text-align: center;
  border: 0;
  outline: transparent;

  & i {
    font-size: 18px;
  }

  &:active,
  &_active {
    color: $addition-color;
  }

  &:hover {
    color: $base-color;
    background-color: $addition-color;
    cursor: pointer;
  }
}
