.excel {
  position: relative;
  max-width: 100%;
  height: 100%;
  // Header component styles
  &__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 0 4px;
  }
  // Toolbar component styles
  &__toolbar {
    position: absolute;
    top: $header-height;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $toolbar-height;
    padding: 7px 10px;
    background-color: $addition-color;
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
  }
  // Formula component styles
  &__formula {
    position: absolute;
    top: $header-height + $toolbar-height;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $formula-height;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid $text-color;
  }
  // Table component styles
  &__table {
    position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    right: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: calc(100vh - #{$header-height + $toolbar-height + $formula-height});
    overflow-x: auto;
    $top-indent: $header-height + $toolbar-height + $formula-height;
  }

  &__column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $cell-width;
    min-width: $info-cell-width;
    height: 100%;
    background-color: whitesmoke;
    border-right: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    user-select: none;
  }

  &__column-resize {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    width: 2px;
    height: 100%;
    background-color: $addition-color;
    cursor: col-resize;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__row {
    display: flex;
    height: $row-height;
    min-height: $row-height;

    &:first-child {}
  }

  &__row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $addition-color;
    cursor: row-resize;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__data {
    display: flex;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $info-cell-width;
    height: 100%;
    color: $text-color;
    font-size: 12px;
    text-align: center;
    background-color: whitesmoke;
    border-right: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    user-select: none;

    &_cell {
      font-size: 12px;
      font-style: normal;
      background-color: whitesmoke;
      border-bottom: 1px solid $text-color;
    }

    &--formula {
      font-size: 18px;
      font-style: italic;
      border-bottom: 0;
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: $cell-width;
    min-width: $info-cell-width;
    padding: 5px;
    white-space: nowrap;
    text-align: left;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid $text-color;
    border-top: 0;
    border-left: 0;
    outline: transparent;

    &_selected {
      z-index: 1;
      border: 0;
      box-shadow: -1.2px -1.2px 0 0px $addition-color, inset .7px .7px 0 0 $addition-color;

      &:before {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 2px;
        height: calc(100% + 1.4px);
        background-color: $addition-color;
        content: "";
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: -1.4px;
        display: block;
        width: calc(100% + 1.4px);
        height: 2px;
        background-color: $addition-color;
        content: "";
      }
    }
  }
  // Shared components styles
  &__container {
    position: relative;
    display: flex;
  }

  &__input {
    height: 20px;
    padding: 2px 7px;
    color: $text-color;
    font-size: 18px;
    line-height: 27px;
    border: 2px solid transparent;
    border-radius: 2px;
    outline: transparent;

    &:hover {
      border: 2px solid transparentize($addition-color, .75);
    }

    &:focus {
      border: 2px solid $addition-color;
    }

    &_formula {
      width: 100%;
      height: 100%;
      padding: 4px;
      font-size: 12px;
      border-radius: 0;
    }
  }

  &__button {
    @include button();
  }
}
