{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "prettier/prettier": "error"
  },
  "plugins": [
    "prettier"
  ]
}
