<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <title>JavaScript Excel Analog App</title>
  <base href="/">
</head>
<body>
  <!-- App container -->
  <div id="app" class="container">
    <div class="dashboard">
      <div class="dashboard__header">
        <h1 class="dashboard__title">Excel Dashboard</h1>
      </div>
      <div class="dashboard__toolbar">
        <button class="dashboard__add">New Table<br>+</button>
      </div>
      <div class="dashboard__container">
        <div class="dashboard__description">
          <span>Name</span>
          <span>Date open</span>
        </div>
        <ul class="dashboard__list">
          <li class="dashboard__item">
            <a href="#" class="dashboard__name">Table name</a>
            <strong class="dashboard__date">20.06.2020</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>